*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height:1.4;
  color:#fff;
}

.App{
  background: url("https://csawpcdnep01.azureedge.net/cache/2/f/b/2/3/5/2fb235a065bcf7a1596d626bd56955fcbdcb8c12.jpg") no-repeat scroll 50% 0px / 100% auto, rgba(0, 0, 0, 0) url("https://csawpcdnep01.azureedge.net/cache/4/d/e/d/7/9/4ded795543e5a305cc3886210b52d02b3baebcf5.jpg") repeat-y scroll 50% 0px / 100% auto;
}

h1{
  text-align:center;
  padding-top:90px;
  padding-bottom:30px;
}

.center{
  text-align:center;
}

.right{
  text-align:right;
}

.middle{
  vertical-align:middle;
}

.h100{
  height:100%;
}

/*-------------------- 1st ROW --------------------*/

.App{
  height:100%;
}

select{
  width:100%;
  padding:15px 30px;
  padding-top:35px;
  border-radius:7px;
  appearance:none;
  -moz-appearance: none;
	-webkit-appearance: none;
}

select:hover{
  cursor:pointer;
  
}

.DestLabel{
  margin:15px 36px;
  position:absolute;
  color:#303030;
  font-size:12px;
}

.switch-button.is-visible {
  visibility: visible;
}

.switch-button {
  cursor: pointer;
  border:none;
  background:none;
  width:60px;
  margin:auto;
  visibility: hidden;
}

#switchsvg path{
  fill:#fff;
}

.switch-svg {
  transition: transform .5s;
}

.switch-button:hover .switch-svg {
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*-------------------- 2nd ROW --------------------*/



/*-------------------- 3rd ROW --------------------*/

.PricesTable{
  background-color:#fff;
  color:#000;
  width:100%;
  text-align:center;
  max-height:400px;
  overflow:scroll;
  border-radius:7px;
  visibility: hidden;
}

.PricesTable th, .PricesTable td{
  padding:5px;
}
